In [3]:
# Disini saya akan menggunakan metode logisticregreassion
# fungsi metode ini adalah memprediksi data dan hasilnya bisa berupa 0 atau 1
# logisticregreassion ada yang multiple dan ada yang biasa, tapi kali ini saya ingin mempelajari yang biasa
# saya ingin memprediksi kemungkinan orang membeli barang kita atau tidak
# disini saya import dulu library nya
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt

df = pd.read_csv("Marketing.csv")
df

,Customer id,Age,Gender,Location,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
0,1,22,0,Perth,1,1,3,1,1
1,2,55,0,Auckland,1,0,0,0,0
2,3,15,1,Sydney,0,1,2,1,1
3,4,25,0,Brisbane,1,1,5,1,0
4,5,36,1,Brisbane,0,1,1,1,0
5,6,30,0,Sydney,0,0,0,0,0
6,7,28,1,Sydney,0,0,3,1,1
7,8,19,1,Sydney,1,1,2,0,0
8,9,59,0,Perth,1,1,1,0,0
9,10,45,1,Auckland,0,0,0,0,0
10,11,43,0,Auckland,0,1,5,1,1
11,12,37,0,Perth,1,1,4,1,1
12,13,39,1,Perth,0,1,2,0,0
13,14,18,1,Perth,1,0,3,1,1
14,15,55,1,Perth,0,0,2,0,1
15,16,60,1,Sydney,1,0,0,0,0
16,17,53,1,Sydney,1,1,1,0,1
17,18,23,0,Perth,1,0,1,0,1
18,19,62,1,Perth,0,1,2,1,1
19,20,41,0,Brisbane,0,1,5,1,0

In [9]:
# saya buang kolom yang tidak diperlukan
df = df.drop(["Location"], axis="columns")
df

,Customer id,Age,Gender,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
0,1,22,0,1,1,3,1,1
1,2,55,0,1,0,0,0,0
2,3,15,1,0,1,2,1,1
3,4,25,0,1,1,5,1,0
4,5,36,1,0,1,1,1,0
5,6,30,0,0,0,0,0,0
6,7,28,1,0,0,3,1,1
7,8,19,1,1,1,2,0,0
8,9,59,0,1,1,1,0,0
9,10,45,1,0,0,0,0,0
10,11,43,0,0,1,5,1,1
11,12,37,0,1,1,4,1,1
12,13,39,1,0,1,2,0,0
13,14,18,1,1,0,3,1,1
14,15,55,1,0,0,2,0,1
15,16,60,1,1,0,0,0,0
16,17,53,1,1,1,1,0,1
17,18,23,0,1,0,1,0,1
18,19,62,1,0,1,2,1,1
19,20,41,0,0,1,5,1,0

In [11]:
# disini saya latih data nya
X_train, X_test, y_train, y_test = train_test_split(df[["Age", "Gender","Email Opened", "Email Clicked", "Product page visit", "Discount offered" ]], df["Purchased"], test_size=0.1)

In [12]:
X_test

,Age,Gender,Email Opened,Email Clicked,Product page visit,Discount offered
1,55,0,1,0,0,0
6,28,1,0,0,3,1

In [13]:
# kita gunakan logika ini untuk memprediksi nya
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [14]:
# kita prediksi hasil uji sampel nya
model.predict(X_test)

array([0, 1], dtype=int64)

In [17]:
# kita juga bisa prediksi di luar sampel uji kita
model.predict([[13, 0, 1, 0, 2, 1]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [18]:
model.predict([[15,1,1,1,0,0]])

C:\Users\Ryan Akbar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)